body, label, input{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ALINHANDO TODO ELEMENTO */
.corpo{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
}

/* ESTILO PARA OS INPUTS */
.caixa-entrada{
    border: none;
    margin-left: 42%;
    font-size: 15px;
    border-bottom: 2px solid black;
}

/* CASO CLIQUE IRA FICAR SEM OUTLINE */
.caixa-entrada:active, .caixa-entrada:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

/* ESTILO PARA O BOTÃO DE CALCULAR */
.btn-calcular{
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
}

/* REMOVE A SETA DE INCREMENTO E DECREMENTO DO INPUT TIPO NUMERO PARA CHROME E SAFARI */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* REMOVE A SETA DE INCREMENTO E DECREMENTO DO INPUT TIPO NUMERO PARA IE E EDGE */
input[type="number"] {
    appearance: textfield;
}